@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  
}

header, footer {
  height: 4rem;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


footer {
  background-color: #000033;
  height: 6rem;
  width: 100%;
}

.cta {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.cta-header {
  background-color: #000033;
  color: white;
}

.cta-footer {
  background: #cc2b5e;  
  background: -webkit-linear-gradient(to bottom, #753a88, #cc2b5e);  
  background: linear-gradient(to bottom, #753a88, #cc2b5e); 
  color: white;
}

.title {
  font-size: 25px;
}

.title-footer {
  color: white;
}

.headline-content {
  width: 100%;
  display: flex;

}

.page-decription-container {
  width: 43%;
  margin-left: 5rem;
  margin-top: 3rem;
  padding-bottom: 1rem;
}

.main-image-container {
  width: 50%;
  margin-left: auto;
  
}

.headline-title {
  font-size: 5rem;
  line-height: 5rem;
  padding-bottom: 1rem;
}

.headline-decription {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.cta-headline {
  background: #ee0979;  
  background: -webkit-linear-gradient(to top, #ff6a00, #ee0979);  
  background: linear-gradient(to top, #ff6a00, #ee0979); 
  color: white;
}

.main-img {
  width: 45%;
  position: relative;
  top: 10%;
  left: 30%;
  border-radius: 200px;
  z-index: 1;
}

.rectangle {
  width: 90%;
  height: 40%;
  transform: rotate(-45deg);
  position: relative;
  top: -75%;
  left: 35%;
  background: #4568DC;  
  background: -webkit-linear-gradient(to top, #B06AB3, #4568DC);  
  background: linear-gradient(to top, #B06AB3, #4568DC); 
}

.course-content {
  width: 85%;
  margin: 7rem 10rem 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.tile-container {
  width: 25rem;
  height: 22rem;
  border-radius: 20px;
  margin: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 16px 8px 29px 5px rgba(0,0,0,0.1);
  border: none;
}

.first-tile {
  background: #ee0979;  
  background: -webkit-linear-gradient(to top, #ff6a00, #ee0979);  
  background: linear-gradient(to top, #ff6a00, #ee0979); 
  
}

.first-tile-text {
  color: white;
  font-size: 3rem;
}

.tile-title {
  font-size: 2rem;
}

.tile-description {
  font-size: 1.5rem;
}



